/* CSS for Client Mail Page */

.client-mail-content {
  --input-padding: 10px;
  --input-margin: 10px;
  --input-width: 200px;
  --input-height: 35px;
  --container-background: rgb(254, 254, 254);
  --input-border-color: rgba(168, 176, 208, 0.3);
  --dark-blue: #333266;
  --soft-skill-color: #ef6364;
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 252);
}

.client-mail-body-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 1200px;
  flex-direction: row;
  margin: auto;
  padding: 50px 0px 0px 0px;
}

/* ------ LEFT BLOCK ------- */
.client-mail-leftBlock {
  width: 49%;
  overflow: scroll;
}

/* LEFT BLOCK - TITLE */
.client-mail-leftBlock-title {
  font-size: 40px;
  font-family: var(--title-font);
  color: #333366;
  margin-bottom: 25px;
}

/* LEFT BLOCK - CONTACT BLOCK */
.client-mail-leftBlock-contactBlock {
  background-color: var(--container-background);
  box-shadow: 0 6px 12px rgba(28, 28, 28, 0.1);
  padding: 15px;
}

/* LEFT BLOCK - CONTACT BLOCK - TITLE */
.client-mail-leftBlock-contactBlock-title {
  color: var(--dark-blue);
  font-size: 29px;
  margin-bottom: 20px;
}
/* LEFT BLOCK - CONTACT BLOCK - SEARCHLINE */
.client-mail-leftBlock-contactBlock-searchLine {
  margin-bottom: 20px;
}

.client-mail-leftBlock-contactBlock-searchLine-searchBlock {
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  width: 300px;
  height: var(--input-height);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.client-mail-leftBlock-contactBlock-searchLine-searchBlock > input {
  padding: 5px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  margin: 0;
  width: 200px;
}

/* LEFT BLOCK - CONTACT BLOCK - LIST */
.client-mail-leftBlock-contactBlock-list {
  display: flex;
  flex-direction: column;
}

/* LEFT BLOCK - contact BLOCK - LIST - TITLE */
.client-mail-leftBlock-contactBlock-list-title > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #6e78ad;
  background-color: var(--container-background);
  transition: background-color 0.5s;
}

.client-mail-leftBlock-contactBlock-list-title > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  padding: 0;
}

.client-mail-leftBlock-contactBlock-list-checkBox {
  min-width: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.client-mail-leftBlock-contactBlock-list-talent {
  min-width: 30%;
}
.client-mail-leftBlock-contactBlock-list-objet {
  width: 50%;
  font-size: 14px;
}

.client-mail-leftBlock-contactBlock-list-statut {
  min-width: 15%;
}

/* LEFT BLOCK - CONTACT BLOCK - LIST - TALENT */
.client-mail-leftBlock-contactBlock-list-contact {
  display: flex;
  flex-direction: column;
}

/* LEFT BLOCK - CONTACT BLOCK - LIST - TALENT - TALENTILNE  */
.client-mail-leftBlock-contactBlock-list-contact > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  margin: 0;
  padding: 15px 0px;
  border-bottom: solid 1px var(--placeholder-grey);
  background-color: var(--container-background);
  transition: background-color 0.5s;
}
.client-mail-leftBlock-contactBlock-list-contact > ul:hover {
  background-color: #fafafc;
  transition: background-color 0.5s;
}

/* LEFT BLOCK - CONTACT BLOCK - LIST - TALENT -TALENTLINE - ELEMENT */
.client-mail-leftBlock-contactBlock-list-contact > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  padding: 0;
}

/* ------ RIGHT BLOCK ------- */
.client-mail-rightBlock {
  width: 49%;
  box-shadow: 0 6px 12px rgba(28, 28, 28, 0.1);
  background-color: var(--container-background);
  min-height: 500px;
}

.client-mail-conversationShown-container {
  padding: 20px;
}
.client-mail-conversationShown-name {
  margin-bottom: 30px;
  font-weight: 500;
}

/* FIRST MESSAGE SENT FORM THE COMPANY */
.client-mail-conversationShown-title-block {
  border-top: 1px solid #a8b0d0;
  border-bottom: 1px solid #a8b0d0;
}

.client-mail-conversationShown-object {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}
.client-mail-conversationShown-object > i {
  margin-left: 15px;
}

.client-mail-conversationShown-firstMessage {
  max-height: 500px;
  white-space: pre-line;
  white-space: pre-wrap;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  overflow: hidden;
}

.client-mail-conversationShown-firstMessage-shrinked {
  max-height: 0px;
  white-space: pre-line;
  white-space: pre-wrap;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.client-mail-conversationShown-link {
  margin-bottom: 10px;
}

.client-mail-conversationShown-link > span:nth-child(1) {
  color: #6e78ad;
  font-weight: 600;
}
.client-mail-conversationShown-link > span:nth-child(2) {
  color: red;
}

/* RIGHT BLOCK - MESSAGES  */

.client-mail-conversationShown-messageBlock {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--input-border-color);
}

.client-mail-conversationShown-picture {
  margin-right: 20px;
  align-self: flex-start;
}

.client-mail-conversationShown-picture > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.client-mail-conversationShown-picture-company {
  margin-right: 20px;
  align-self: flex-start;
}

.client-mail-logo-company {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 0;
}
.client-mail-conversationShown-message {
  width: 100%;
  max-width: 100%;

  white-space: pre-line;
  white-space: pre-wrap;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  margin: 0;
}

.messageshrink {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: flex-start;
  line-height: 30px;
  margin: 0;
  padding: 0 20px 0 0;
}

textarea {
  resize: none;
  width: 95%;
  border: none;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  transition: height 0.1s ease-in;
}

.client-mail-conversationShown-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.client-mail-conversationShown-send {
  color: var(--container-background);
  background-color: var(--dark-blue);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
}
.client-mail-conversationShown-send-disabled {
  color: var(--container-background);
  background-color: var(--placeholder-grey);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
}

.client-mail-conversationShown-send:active {
  background-color: var(--placeholder-grey);
}
