:root {
  /* FONT */
  --title-font: "Playfair Display", serif;
  --title-color: #31313c;
  /*FONT-SIZE */
  --fs-text: 14px;
  /* COLOR OF SITE */
  --main-bg-color: #fafafc;
  --primary-1: #a8b0d0;
  --primary-2: #6e78ad;
  --primary-3: #474d8b;
  --primary-4: #333366;
  --secondary-1: #ff9d9d;
  --secondary-2: #ff6666;
  --black: #31313c;
  --grey: #c3c3d2;
  --placeholder-grey: #a8b0d0;
  /* BUTTON */
  --btn-border-radius: 5px;
  --btn-padding: 8px 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif, "Playfair Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-size: var(--fs-text);
  background-color: var(--main-bg-color);
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/********* GENERAL ********/

::placeholder {
  font-size: 14px;
  color: var(--placeholder-grey);
  opacity: 1;
}

/********* BLOCKS ********/

/* CONTAINER */
.container {
  max-width: 1550px;
  height: 95vh;
  margin: auto;
}

/***** BUTTON *****/

/* BLUE BUTTON */
.btn-primary {
  background-color: var(--primary-4);
  padding: var(--btn-padding);
  border: none;
  color: var(--main-bg-color);
  font-size: var(--fs-text);
  cursor: pointer;
  border-radius: var(--btn-border-radius);
  height: var(--input-height);
  font-size: var(--fs-text);
  transition: color, background-color 0.2s;
}

.btn-primary:hover {
  background-color: var(--primary-2);
}

/* BUTTON ORANGE */
.btn-secondary {
  background-color: var(--secondary-2);
  padding: var(--btn-padding);
  border: none;
  color: var(--main-bg-color);
  cursor: pointer;
  border-radius: var(--btn-border-radius);
  height: var(--input-height);
  font-size: var(--fs-text);
  transition: color, background-color 0.2s;
}

.btn-secondary:hover {
  background-color: var(--secondary-1);
}

/* BUTTON CANCEL */
.btn-cancel {
  background-color: transparent;
  padding: var(--btn-padding);
  border: 1px solid var(--grey);
  cursor: pointer;
  border-radius: var(--btn-border-radius);
  height: var(--input-height);
  font-size: var(--fs-text);
  transition: color, background-color 0.2s;
}

.btn-cancel:hover {
  background-color: var(--grey);
  color: var(--main-bg-color);
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
